# Environment variables for the web application
API_BASE_URL="http://localhost:3000"
APP_URL="http://localhost:5173"

# Keycloak configuration for the web application
KEYCLOAK_BASE_URL="http://localhost:8080"
KEYCLOAK_REALM="checkout-promnet"
KEYCLOAK_CLIENT_ID="web-admin"
KEYCLOAK_CLIENT_SECRET="CoqV9O2vuPhWl7f0HyYJW367Y7SHHs7f"
SESSION_SECRET="s3cr3t-d3v-0nly-ch4ng3-1n-pr0d"
